In [3]:
lambda argument :expression

In [4]:
lambda arguments: expression

In [5]:
print("lets go my champ")

lets go my champ

In [6]:
lambda a, b: a + b

In [7]:
cube = lambda x: x**3
print(cube(5))

125

In [8]:
words =['yash','champ']
upper_word = list(map(lambda x:x.upper(),words))
print(upper_word)

['YASH', 'CHAMP']

In [9]:
nums = [10, 55, 2,43, 99, 65,50]
greater_than_50 = list(filter(lambda x: x >= 50, nums))
print(greater_than_50)

[55, 99, 65, 50]

In [10]:
from functools import reduce
nums = [1, 2, 3, 4, 5]
sum_all = reduce(lambda a, b: a + b, nums)
print(sum_all)

15

In [11]:
people = [{"name": "A", "age": 25}, {"name": "B", "age": 19}]
sorted_people = sorted(people, key=lambda x: x["age"])
print(sorted_people)

[{'name': 'B', 'age': 19}, {'name': 'A', 'age': 25}]

In [12]:
sqr = lambda x: x*x
print(sqr(5))

25

In [13]:
num =[1,2,34,5]
sqr = list(map(lambda x:x**2 , num))
print(sqr)

[1, 4, 1156, 25]

In [14]:

nums = [1, 2, 3, 4]
squares = list(map(lambda x: x ** 2, nums))
evens = list(filter(lambda x: x % 2 == 0, nums))
print(squares)
print(evens)

[1, 4, 9, 16]
[2, 4]

In [15]:
from functools import reduce

sum_all = reduce(lambda a, b: a + b, nums)
print(sum_all)
nums = [1, 2, 3, 4]

10

In [16]:
students = [("Alice", 88), ("Bob", 95), ("Charlie", 70)]
sorted_students = sorted(students, key=lambda x: x[1], reverse=True)
print(sorted_students)

[('Bob', 95), ('Alice', 88), ('Charlie', 70)]

In [17]:
nums =[1,2,3,45]

print(all(x>0 for x in nums))
print(any(x>0 for x in nums))
print(any (x==0 for x in nums))

True
True
False

In [19]:
students = [("Yash", 65), ("Champ", 85), ("Neha", 78), ("Maya", 92)]

top_students = list(
    map(lambda x: x[0],
        sorted(filter(lambda s: s[1] > 75, students),
               key=lambda x: x[1], reverse=True))
)

print(top_students)

['Maya', 'Champ', 'Neha']