In [2]:
def smart_calculator(a: int, b: int, operation: str):
    if operation == "add":
        return a + b
    elif operation == "sub":
        return a - b
    elif operation == "mul":
        return a * b
    elif operation == "div":
        if b == 0:
            return "Error: Division by zero"
        return a / b
    else:
        return "Error: Invalid operation"

if __name__ == "__main__":
    a = int(input("enter the 1st no:"))
    b = int(input("enter the secondd no :"))
    operation = input().strip()

    result = smart_calculator(a, b, operation)
    print(result)

enter the 1st no:1020
enter the secondd no :20
mul
20400

In [5]:
def introduce(name, age):
    print(f"{name} is {age} years old.")

introduce(age=20, name="Alice")

Alice is 20 years old.

In [7]:
str ="come on "
str1 = "my buddy"
print(str+str1)

come on my buddy

In [13]:
a = [10, 20, 30, 40, 50]

a[0], a[4] = a[4], a[0]

print(a)

[50, 20, 30, 40, 10]

In [17]:
s="SGS"
print(s[1])
s1 = s.replace("S", "A")
print(s1)
s2 = s +s[1]
print(s2)

G
AGA
SGSG

In [20]:
s = """I am Learnin
g"""
print(s)

s = '''I'm a
Geek'''
print(s)

I am Learnin
g
I'm a
Geek

In [ ]:


s2 = s +s[1]
print(s2)
s = """I am Learnin
g"""
print(s)

s = '''I'm a
Geek'''
s

In [21]:
# prompt: randomly select 5 items from a list

import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
selected_items = random.sample(my_list, 5)
selected_items

[3, 10, 1, 7, 6]

In [22]:
#my clock


import time

def countdown(t):
    while t:
        mins, secs = divmod(t, 60)
        timer = '{:02d}:{:02d}'.format(mins, secs)
        print(timer, end='\r')
        time.sleep(1)
        t -= 1

    print("Fire in the hole!!")

t = input("Enter the time in seconds: ")

countdown(int(t))

Enter the time in seconds: 2
Fire in the hole!!