In [1]:

print("lets go champ Day 23")

lets go champ Day 23

In [19]:
student = {"name": "yash","gread": "A", "roll_no":21}
print(student)

{'name': 'yash', 'gread': 'A', 'roll_no': 21}

In [21]:
student = {"name": "Jenny", "grade": "A", "roll_no": 12}
for key, value in student.items():
    print(key, ":", value)

name : Jenny
grade : A
roll_no : 12

In [22]:
car ={"brand":"Toyota","model":"Camry","year":2022}
car["color"]= "yellow"

print(car)

{'brand': 'Toyota', 'model': 'Camry', 'year': 2022, 'color': 'yellow'}

In [23]:
data = {"x": 10, "y": 20}
if "y" in data:
    print("Key exists!")
else:
    print("Key does not exist.")

Key exists!

In [25]:
info = {"name": "champ", "age": 22, "city": "Delhi"}
info.pop("age")
print(info)

{'name': 'champ', 'city': 'Delhi'}

In [26]:
scores = {"math": 90, "science": 85, "english": 88}
for value in scores.values():
    print(value)

90
85
88

In [2]:
def merge_arrays(arr1, arr2):
  arr3 =arr1 + arr2
  arr3.sort()
  return arr3




arr1 =[1,2,3,4,5]
arr2 =[6,7,8,9,10]
arr3 = merge_arrays( arr1,arr2)
print(arr3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Function to merge two arrays and sort the result
def merge_arrays(arr1, arr2):
    arr3 = arr1 + arr2
    arr3.sort()
    return arr3

# Driver code
arr1 = [1, 3, 5, 7]
arr2 = [2, 4, 6, 8]
arr3 = merge_arrays(arr1, arr2)

for value in arr3:
    print(value, end=" ")

1 2 3 4 5 6 7 8

In [4]:
arrey = [1,2,3,4,5]
arrey.sort()
print(arrey)

[1, 2, 3, 4, 5]

In [5]:
arrey = [1,2,3,4,5]
arrey.sort(reverse=True)
print(arrey)


for number in arrey:
  if number % 2 == 0:
      print(number)

[5, 4, 3, 2, 1]
4
2

In [6]:
def merge_arrays(arr1, arr2):
  arr3 =arr1 + arr2
  arr3.sort()
  return arr3

arr1 =[1,2,0.3,40,5]
arr2 =[6,70,8,9,10]
arr3 = merge_arrays( arr1,arr2)
print(arr3)


#print off number
arrey = [1,2,3,4,5]
arrey.sort(reverse=True)
print(arrey)


for number in arrey:
  if number % 2 != 0:
      print(number)

[0.3, 1, 2, 5, 6, 8, 9, 10, 40, 70]
[5, 4, 3, 2, 1]
5
3
1

In [7]:
arr1 =[1,2,0.3,40,5]
print(arr1[::-1])

[5, 40, 0.3, 2, 1]

In [8]:
arr2 =['yashu','champ',"jenny"]
print(arr2[::-1])
print(arr2[0])
print(arr1[::-1])

['jenny', 'champ', 'yashu']
yashu
[5, 40, 0.3, 2, 1]

In [9]:
arrey = [1, 2, 3, 4, 5, 6, 7]

for num in arrey:
    if num % 2 == 0:
       print('this are even number',num)

for num in arrey :
  if num % 2 != 0:
    print(num)

#arrey % 2 !=0
#print(arrey)

this are even number 2
this are even number 4
this are even number 6
1
3
5
7

In [10]:
value =[43,35,32,99,61,9]
print("maximum", max(value))
print("minimum", min(value))

maximum 99
minimum 9

In [11]:
num =[-1,2,-3,0,-9,2,6,8,10,-8]
for number in num:
  if number > 0:
    print(number)

2
2
6
8
10

In [12]:
nums = [-5, 3, -1, 7, 0, -2, 8]
positive_nums = []
for n in nums:
    if n > 0:
        positive_nums.append(n)
print("Positive numbers:", positive_nums)

Positive numbers: [3, 7, 8]

In [13]:
nums = [-5, 3, -1, 7, 0, -2, 8]
negative_nums = []

for n in nums:
  if n <0:
    negative_nums.append(n)
print("Negative numbers:", negative_nums)

Negative numbers: [-5, -1, -2]

In [14]:
nums = [-5, 3, -1, 7, 0, -2, 8]
total=0
for x in num:
  total += x
print(total)

7

In [15]:
data = [3, 8, 1, 6, 10, 2]
value =5
for x in data :
  if x > value:
    print(x)

8
6
10

In [16]:
data = [3, 8, 1, 6, 10, 2]
print(data[::-1])

[2, 10, 6, 1, 8, 3]

In [17]:
nums = [2, 4, 6, 8,99]
for n in nums:
    print(f"Square of {n} is {n**2}")

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64
Square of 99 is 9801

In [18]:
num =[2,4,6,4,7,9,99]
for x in num:
  print(f"Cube of {x} is {x**3}")

Cube of 2 is 8
Cube of 4 is 64
Cube of 6 is 216
Cube of 4 is 64
Cube of 7 is 343
Cube of 9 is 729
Cube of 99 is 970299